* {
  font-size: 10px;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(231, 230, 230);
}
.container {
  max-width: 90vw;
  margin: 2rem 10rem 0 2rem;
}

.containerBtn {
  width: 3rem;
  display: flex;
  align-items: center;
}
