* {
  font-size: 10px;
  font-family: "Courier New", Courier, monospace;
}
.mainContainer {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin: 1.5rem 2rem 0 7rem;
}
header {
  display: inline-block;
  margin-left: 2rem;
}
@media (max-width: 800px) {
  div {
    display: grid;
    grid-template-columns: 90vw;
    justify-content: center;
    flex-direction: column;
    margin: 1rem 1.5rem;
  }
  GeolocationServicesContainer {
    display: flex;
    flex-direction: column;
    max-width: 90vw;
  }
}
